{% extends 'base.html.twig' %}

{% block title %}Institution index{% endblock %}

{% block body %}
<h1>Institution index</h1>

<table class="table horizontal-table">
    <thead>
        <tr>
            <th>PhotoUrl</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Website</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for institution in institutions %}
        <tr>
            <td><img src="{{ institution.photoUrl }}"></td>
            <td>{{ institution.name }}</td>
            <td>{{ institution.description }}</td>
            <td>
                {% if institution.location is not null %}
                {{ institution.location }}
                {% else %}
                Error retrieving location
                {% endif %}
            </td>
            <td>{{ institution.website }}</td>
            <td>
                <a href="{{ path('app_institution_show', {'id': institution.id}) }}">show</a>
                {% if app.user.institution == institution %}
                <a href="{{ path('app_institution_edit', {'id': institution.id}) }}">edit</a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if true %}
<a href="{{ path('app_institution_new') }}">Create new</a>
{% endif %}
{% endblock %}