{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

    <div class="parentContainer">
    <h1>Register</h1>

    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Confirm Password'
        }) }}
        {{ form_row(registrationForm.birthDate) }}
                {{ form_row(registrationForm.photoUrl) }}


        {{ form_row(registrationForm.gender) }}

        {{ form_row(registrationForm.nationality) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <p> Sign up with google <a href="{{ path('connect_google') }}" class="btn">Connect</a></p>
    <p>Already have an account? <a href="{{ path('app_login') }}" class="btn">Login</a></p>
    </div>

{% endblock %}
