{% extends 'base.html.twig' %}

{% block title %}Certification index
{% endblock %}

{% block body %}
	<h1>Certification index</h1>

	<table class="table horizontal-table">
		<thead>
			<tr>
				<th>Field</th>
				<th>Name</th>
				<th>MarkDescription</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for certification in certifications %}
				<tr>
					<td>{{ certification.field }}</td>
					<td>{{ certification.name }}</td>
					<td>{{ certification.markDescription }}</td>
					<td>
						<a href="{{ path('app_certification_show', {'id': certification.id}) }}">show</a>
						{% if true %}
							<a href="{{ path('app_certification_edit', {'id': certification.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if true %}
		<a href="{{ path('app_certification_new') }}">Create new</a>
	{% endif %}
{% endblock %}
