{% extends 'base.html.twig' %}

{% block title %}Application index
{% endblock %}

{% block body %}
<h1>
	{% if title is defined %}
	{{ title }}
	{% else %}
	Application index
	{% endif %}
</h1>

<table id="applications" class="table horizontal">
	<thead>
		<tr>
			<th>Applicant</th>
			<th>Current Grade</th>
			<th>ApplicationDate</th>
			{% if includedIn is defined and includedIn == 'grade/edit' %}
			<th>Verified</th>
			{% endif %}
			<th>Accepted</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% if includedIn is not defined or includedIn is defined and includedIn != 'grade/edit' %}
		{% set cachedApplication = null %}
		{% endif %}
		{% for application in applications %}
		<tr>
			<td>
				<a href="{{ path('app_user_show', {'id': application.applicant.id}) }}" class="link-btnshow-link-">
					<img src="{{ application.applicant.photoUrl }}">
					{{ application.applicant.name }}
				</a>
			</td>
			<td>
				{% if application.applicant.currentYear is not null %}
				<a href="{{ path('app_year_detail_show', {'id': application.applicant.currentYear.id}) }}"
					class="link-btnshow-link-">
					{{ application.applicant.currentYear.grade.institution.name}}
					({{ application.applicant.currentYear.grade.name}})
				</a>
				{% else %}
				Not Specified
				{% endif %}
			</td>
			<td>{{ application.applicationDate ? application.applicationDate|date('Y-m-d') : '' }}</td>
			{% if includedIn is defined and includedIn == 'grade/edit' %}
			<td>{{ application.verified is null ? 'Not Reviewed': application.verified ? 'Yes' : 'No' }}</td>
			{% endif %}
			<td>
				{% if application.verified %}
				{{ application.status is null ? 'Not viewed': application.status ? 'Yes' : 'No' }}
				{% else %}
				Unavailable
				{% endif %}
			</td>
			<td>
				<a href="{{ path('app_application_show', {'id': application.id}) }}"
					class="link-btnshow-link-btnshow-action-">
					show
				</a>
				{% if includedIn is not defined or includedIn is defined and includedIn != "grade/edit" %}
				{% if app.user.institution == application.mobility.institution %}
				{% if application.status is null or application.status == false %}
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 1}) }}">Accept</a>
				{% endif %}
				{% if application.status is null or application.status == true %}
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 0}) }}">Reject</a>
				{% endif %}
				{% endif %}
				{% else %}
				{% if application.verified is null or application.verified == false %}
				<a href="{{ path('app_application_edit_verified', {'id': application.id, 'r': 1}) }}">Accept</a>
				{% endif %}
				{% if application.verified is null or application.verified == true %}
				<a href="{{ path('app_application_edit_verified', {'id': application.id, 'r': 0}) }}">Reject</a>
				{% endif %}
				{% endif %}
			</td>
		</tr>
		{% if includedIn is not defined or includedIn is defined and includedIn != 'grade/edit' %}
		{% if application in app.user.applications %}
		{% set cachedApplication = application %}
		{% endif %}
		{% endif %}
		{% else %}
		<tr>
			<td colspan="4">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if (includedIn is not defined or includedIn is defined and includedIn != 'grade/edit') and mobility is defined and mobility is not null and currdate < mobility.startDate and mobility.size > mobility.applications|filter(a => a.status == true)|length %}
{% if cachedApplication is null %}
<a href="{{ path('app_application_new', {'id': mobility.id}) }}">Apply</a>
{% elseif cachedApplication.status is null %}
<a href="{{ path('app_application_delete', {'id': cachedApplication.id}) }}">Cancel Application</a>
{% endif %}
{% endif %}

{% endblock %}