{% extends 'base.html.twig' %}

{% block title %}Application
{% endblock %}

{% block body %}
<h1>Application</h1>

<table class="table vertical">
	<tbody>
		{% if app.user in application.mobility.institution.managers %}
		<tr>
			<th>Action</th>
			<td>
				{% if application.status is null %}
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 1}) }}">Accept</a>
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 0}) }}">Reject</a>
				{% else %}
				{% if application.status %}
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 0}) }}">Change and Reject</a>
				{% else %}
				<a href="{{ path('app_application_edit_status', {'id': application.id, 'r': 1}) }}">Change and Accept</a>
				{% endif %}
				{% endif %}
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>Status</th>
			<td>{{ application.status ? 'Yes' : 'No' }}</td>
		</tr>
		<tr>
			<th>Applicant</th>
			<td>
				<a href="{{ path('app_user_show', {'id': application.applicant.id}) }}">
					<img src="{{ application.applicant.photoUrl }}">
					{{ application.applicant.name }}
				</a>
			</td>
		</tr>
		{% if application.applicant.currentYear is not null %}
		<tr>
			<th>Grade</th>
			<td>
				<a href="{{ path('app_grade_show', {'id': application.applicant.currentYear.grade.id}) }}">
					{{ application.applicant.currentYear.grade.institution.name}}
					({{ application.applicant.currentYear.grade.name}})
				</a>
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>Mobility</th>
			<td>
				<a href="{{ path('app_mobility_show', {'id': application.mobility.id}) }}">
					{{ application.mobility.name }}
					({{ application.mobility.institution.name }})
				</a>
			</td>
		</tr>
		<tr>
			<th>ApplicationDate</th>
			<td>{{ application.applicationDate ? application.applicationDate|date('Y-m-d') : '' }}</td>
		</tr>
	</tbody>
</table>

<a href="{{ path('app_mobility_show', {'id': application.mobility.id}) }}">back to mobility</a>

{% if app.user.id == application.applicant.id and application.status is null %}
{{ include('application/_delete_form.html.twig') }}
{% endif %}

{% endblock %}