{% extends 'base.html.twig' %}

{% block title %}Mobility index{% endblock %}

{% block body %}
<h1>Mobility index</h1>

<table class="table horizontal">
    <thead>
        <tr>
            <th>Name</th>
            {% if includedIn is defined and includedIn is not null and includedIn != "institution/show" %}
            <th>institution</th>
            {% endif %}
            <th>Grades</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Size</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for mobility in mobilities %}
        <tr>
            <td>{{ mobility.name }}</td>
            {% if includedIn is defined and includedIn is not null and includedIn != "institution/show" %}
            <td>
                <a href="{{ path('app_institution_show', {'id': mobility.institution.id}) }}">
                    <img src="{{ mobility.institution.photoUrl }}">
                    {{ mobility.institution.name }}
                </a>
            </td>
            {% endif %}
            <td>
                {% for grade in mobility.grades %}
                {{ grade.name }}
                {% endfor %}
            </td>
            <td>{{ mobility.description }}</td>
            <td>{{ mobility.startDate ? mobility.startDate|date('Y-m-d') : '' }}</td>
            <td>{{ mobility.endDate ? mobility.endDate|date('Y-m-d') : '' }}</td>
            <td>
                {{ mobility.applications | filter(application => application.status == true) | length }}
                / {{ mobility.size }}
                <a href="{{ path('app_mobility_show', {'id': mobility.id}) }}">
                    ({{ mobility.applications | filter(application => application.verified and application.status is null) | length }} pending)
                </a>
            </td>
            <td>
                <a href="{{ path('app_mobility_show', {'id': mobility.id}) }}">show</a>
                {% if app.user.institution == mobility.institution %}
                <a href="{{ path('app_mobility_edit', {'id': mobility.id}) }}">edit</a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}