{% extends 'base.html.twig' %}

{% block title %}CertificationDetail index{% endblock %}

{% block body %}
    <h1>CertificationDetail index</h1>

    <table class="table horizontal-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ObtainDate</th>
                <th>Mark</th>
                <th>Authentic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certification_detail in certification_details %}
            <tr>
                <td>{{ certification_detail.id }}</td>
                <td>{{ certification_detail.obtainDate ? certification_detail.obtainDate|date('Y-m-d') : '' }}</td>
                <td>{{ certification_detail.mark }}</td>
                <td>{{ certification_detail.authentic ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_certification_detail_show', {'id': certification_detail.id}) }}">show</a>
                    <a href="{{ path('app_certification_detail_edit', {'id': certification_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_certification_detail_new') }}">Create new</a>
{% endblock %}
